{% extends "./pages/base.html" %}
{% load static %}
{% block title %}Ошибка{% endblock %}

{% block body %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron jumb-background">
        <div class="container">
            <h1 class="display-3">Упс! Что-то пошло не так..</h1>
            <p>Логин и пароль правильные?</p>
            <p>Произошла непредвиденная ошибка</p>
            <p>Приносим свои извинения за временные неудобства.
                Пожалуйста, попробуйте повторить предыдущее действие ещё раз</p>
        </div>
    </div>
{% endblock %}